# QuickFIX/J acceptor (sim exchange)
[DEFAULT]
UseDataDictionary=Y
# If you already copied FIX42.xml into resources (from Q1), keep this line.
# Otherwise, QuickFIX/J will also find the built-in classpath version.
DataDictionary=FIX42.xml

FileStorePath=store/oe
FileLogPath=log/oe
ConnectionType=acceptor
StartTime=00:00:00
EndTime=23:59:59
HeartBtInt=30
SocketAcceptPort=9899
ValidateUserDefinedFields=N

[SESSION]
BeginString=FIX.4.2
SenderCompID=EXCH
TargetCompID=TRDR
DefaultApplVerID=FIX.4.2
