# QuickFIX/J initiator (trader)
[DEFAULT]
UseDataDictionary=Y
DataDictionary=FIX42.xml

FileStorePath=store/cli
FileLogPath=log/cli
ConnectionType=initiator
StartTime=00:00:00
EndTime=23:59:59
HeartBtInt=30
SocketConnectHost=127.0.0.1
SocketConnectPort=9899
ReconnectInterval=2
ValidateUserDefinedFields=N

[SESSION]
BeginString=FIX.4.2
SenderCompID=TRDR
TargetCompID=EXCH
DefaultApplVerID=FIX.4.2
