# QuickFIX/J SessionSettings for a Market Data Acceptor (server)

[DEFAULT]
FileStorePath=store/md
FileLogPath=log/md
ConnectionType=acceptor

# Use the dictionary bundled inside quickfixj-all:
UseDataDictionary=Y
DataDictionary=FIX42.xml



StartTime=00:00:00
EndTime=23:59:59
HeartBtInt=30
SocketAcceptPort=9898
ValidateUserDefinedFields=N

# Single FIX 4.2 session that will accept MarketDataRequest (V)
[SESSION]
BeginString=FIX.4.2
SenderCompID=MD-SRV
TargetCompID=CLIENT
